<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1><%= @title %></h1>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-left">
          <li><a href="/" title="home">Home</a></li>
          <li><a href="/movies" title="Movies">Movies</a></li>
          <li class="active"><a href="/actors" title="Actors">Actors</a></li>
        </ul>
      </div>
    </div>

<!-- <% @actor_info.each do |info| %>
<%= info %>
<% end %> -->

    <table class="table table-hover">
      <% @actor_info[0].each do |key,value| %>
        <th><%= key.capitalize %></th>
      <% end %>

      <% @actor_info.each do |movie_hash| %>
        <tr>
          <% movie_hash.each do |key,value| %>
            <% if key == "movie" %>
              <td>
                <a href="/movies/<%= movie_hash["movie_id"] %>">
                  <%= value %>
                </a>
              </td>
            <% else %>
              <td><%= value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </body>
</html>
