<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1><%= @title %></h1>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-left">
          <li><a href="/" title="home">Home</a></li>
          <li class="active"><a href="/movies" title="Movies">Movies</a></li>
          <li><a href="/actors" title="Actors">Actors</a></li>
        </ul>
      </div>
    </div>

<!--     <% @movies.each do |movie| %>
    <%= movie %>
    <% end %> -->

  <table class="table table-hover">

        <% @movies[0].each do |key,value| %>
        <th>
          <%= key.to_s.capitalize %>
        </th>
        <% end %>


          <% @movies.each do |movie| %>
          <tr>
            <td><%= movie["title"] %></td>
            <td><%= movie["year"] %></td>
            <td><%= movie["rating"] %></td>
            <td><%= movie["genre"] %></td>
            <td><%= movie["studio"] %></td>
          </tr>
          <% end %>


      </table>


  </body>
</html>
