<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1><%= @title %></h1>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-left">
          <li><a href="/" title="home">Home</a></li>
          <li class="active"><a href="/movies" title="Movies">Movies</a></li>
          <li><a href="/actors" title="Actors">Actors</a></li>
        </ul>
      </div>
    </div>

<!--      <ul>
      <% @movies_info.each do |movie| %>
        <li><%= movie %></li>
      <% end %>
    </ul> -->

    <h3>Movie Information</h3>
    <table class="table table-hover">
      <% @movies_info[0].each do |key,value| %>
        <tr>
        <% if (key == "actor") || (key == "role") %>
          <% next %>
        <% else %>
          <th><%= key.capitalize %></th>
          <td><%= value %></td>
        <% end %>
      </tr>
      <% end %>
    </table>

    <h3>Actors and Actresses</h3>
    <table class="table table-hover">
      <% @movies_info[0].each do |key,value| %>
        <% if (key == "actor") || (key == "role") %>
          <th>
            <%= key.to_s.capitalize %>
          </th>
        <% end %>
      <% end %>


      <% @movies_info.each do |movie| %>
        <tr>
          <% movie.each do |key,value| %>
            <% if key == "actor" %>
              <td>
                <a href="/actors/<%= movie["actor_id"] %>">
                  <%= value %>
                </a>
              </td>
            <% elsif key == "role" %>
              <td><%= value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </body>

</html>
